.main-header {
    display: flex;
    flex-flow: row nowrap;

    &__brand {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &-logotype {
            height: 3rem;
            width: 3rem;
        }

        &-title {
            color: $white;
            font-size: calc(2.5rem * .75);
            margin-left: 1rem;
        }
    }
}
