.main-header {
    display: flex;
    flex-flow: row nowrap;

    &__brand {
        display: flex;
        flex-flow: row nowrap;

        &-logotype {
            height: 3rem;
            width: 3rem;
        }

        &-title {
            font-size: rem(42);
        }
    }
}
