.comparer {
    display: flex;
    flex-flow: column nowrap;
    
    &__info-box {
        margin-top: 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        opacity: .75;
    }
    
    &__content {
        margin-top: 2rem;
        padding: 1rem;
        border: $content-border;
    }
}