.main-footer {
    margin-top: 2rem;
    border-top: $decorator-border;
    
    @include media('>=md') {
        margin-top: 4rem;
    }
    
    @include media('>=xl') {
        margin-top: 8rem;
    }
    
    &__credits {
        margin-top: 2rem;
    }
}
