.form {
    &__label {
        display: none;
    }
    
    &__input {
        display: block;
        width: 100%;
        padding: 1rem;
        border: none;
        font-size: 1rem;
        font-family: $primary;
        color: rgba($white, 1);
        background-color: rgba($white, 0.1);
        transition: all 0.3s ease-in-out;
    
        &::placeholder {
            color: rgba($white, .75);
            opacity: 1;
        }
        
        &:focus {
            outline: none;
        }
    }
}